wsdl/IdolOEMConnection.wsdl

<?xml version="1.0" ?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://idolTunnel.skymedia.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IdolOEMConnection" targetNamespace="http://idolTunnel.skymedia.it/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://idolTunnel.skymedia.it/" elementFormDefault="unqualified" targetNamespace="http://idolTunnel.skymedia.it/" version="1.0">

  <xs:element name="autnResponseAsList" type="tns:autnResponseAsList"></xs:element>

  <xs:element name="autnResponseAsListResponse" type="tns:autnResponseAsListResponse"></xs:element>

  <xs:element name="autnResponseAsString" type="tns:autnResponseAsString"></xs:element>

  <xs:element name="autnResponseAsStringResponse" type="tns:autnResponseAsStringResponse"></xs:element>

  <xs:element name="getHitIndexedContent" type="tns:getHitIndexedContent"></xs:element>

  <xs:element name="getHitIndexedContentResponse" type="tns:getHitIndexedContentResponse"></xs:element>

  <xs:element name="getQueryHitsMap" type="tns:getQueryHitsMap"></xs:element>

  <xs:element name="getQueryHitsMapResponse" type="tns:getQueryHitsMapResponse"></xs:element>

  <xs:element name="getQueryHitsNoDocumentMap" type="tns:getQueryHitsNoDocumentMap"></xs:element>

  <xs:element name="getQueryHitsNoDocumentMapResponse" type="tns:getQueryHitsNoDocumentMapResponse"></xs:element>

  <xs:element name="getQueryResponse" type="tns:getQueryResponse"></xs:element>

  <xs:element name="getQueryResponseResponse" type="tns:getQueryResponseResponse"></xs:element>

  <xs:element name="getSpellCheckFields" type="tns:getSpellCheckFields"></xs:element>

  <xs:element name="getSpellCheckFieldsResponse" type="tns:getSpellCheckFieldsResponse"></xs:element>

  <xs:element name="getlicenseinfo" type="tns:getlicenseinfo"></xs:element>

  <xs:element name="getlicenseinfoResponse" type="tns:getlicenseinfoResponse"></xs:element>

  <xs:element name="getstatus" type="tns:getstatus"></xs:element>

  <xs:element name="getstatusResponse" type="tns:getstatusResponse"></xs:element>

  <xs:element name="getversion" type="tns:getversion"></xs:element>

  <xs:element name="getversionResponse" type="tns:getversionResponse"></xs:element>

  <xs:element name="grl" type="tns:grl"></xs:element>

  <xs:element name="grlResponse" type="tns:grlResponse"></xs:element>

  <xs:complexType name="grl">
    <xs:sequence>
      <xs:element name="arg0" type="xs:long"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="grlResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getHitIndexedContent">
    <xs:sequence>
      <xs:element name="arg0">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="value" type="xs:string"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getHitIndexedContentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getQueryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getQueryResponseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="autnResponseAsString">
    <xs:sequence>
      <xs:element name="arg0">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="value" type="xs:string"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="autnResponseAsStringResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getstatus">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="getstatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getversion">
    <xs:sequence></xs:sequence>
  </xs:complexType>

  <xs:complexType name="getversionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getQueryHitsNoDocumentMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getQueryHitsNoDocumentMapResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:hit"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hit">
    <xs:sequence>
      <xs:element minOccurs="0" name="DREDATE" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="DREDBNAME" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="DREREFERENCE" type="xs:string"></xs:element>
      <xs:element name="dreFields">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="value" type="xs:string"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="INDEXEDCONTENT" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="PAGECOUNT" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="SECTION" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="TIAP_CLASSE" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="TIAP_CLASSEID" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="TIAP_DATA_NOTIFICA" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="TIAP_FASCICOLO" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="TIAP_FASE" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="TIAP_RG" type="xs:string"></xs:element>
      <xs:element minOccurs="0" name="UUID" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getlicenseinfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getlicenseinfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSpellCheckFields">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getSpellCheckFieldsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getQueryHitsMap">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getQueryHitsMapResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:hit"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="autnResponseAsList">
    <xs:sequence>
      <xs:element name="arg0">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="value" type="xs:string"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="arg1" type="xs:string"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="autnResponseAsListResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:hit"></xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="autnResponseAsListResponse">
    <wsdl:part element="tns:autnResponseAsListResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSpellCheckFields">
    <wsdl:part element="tns:getSpellCheckFields" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getstatus">
    <wsdl:part element="tns:getstatus" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getstatusResponse">
    <wsdl:part element="tns:getstatusResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQueryHitsMapResponse">
    <wsdl:part element="tns:getQueryHitsMapResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHitIndexedContentResponse">
    <wsdl:part element="tns:getHitIndexedContentResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQueryResponse">
    <wsdl:part element="tns:getQueryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getHitIndexedContent">
    <wsdl:part element="tns:getHitIndexedContent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="grl">
    <wsdl:part element="tns:grl" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getlicenseinfoResponse">
    <wsdl:part element="tns:getlicenseinfoResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="grlResponse">
    <wsdl:part element="tns:grlResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="autnResponseAsString">
    <wsdl:part element="tns:autnResponseAsString" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQueryHitsMap">
    <wsdl:part element="tns:getQueryHitsMap" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="autnResponseAsList">
    <wsdl:part element="tns:autnResponseAsList" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQueryHitsNoDocumentMapResponse">
    <wsdl:part element="tns:getQueryHitsNoDocumentMapResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQueryHitsNoDocumentMap">
    <wsdl:part element="tns:getQueryHitsNoDocumentMap" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getQueryResponseResponse">
    <wsdl:part element="tns:getQueryResponseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getversion">
    <wsdl:part element="tns:getversion" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getlicenseinfo">
    <wsdl:part element="tns:getlicenseinfo" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getversionResponse">
    <wsdl:part element="tns:getversionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSpellCheckFieldsResponse">
    <wsdl:part element="tns:getSpellCheckFieldsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="autnResponseAsStringResponse">
    <wsdl:part element="tns:autnResponseAsStringResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IdolOEMConnection">
    <wsdl:operation name="grl">
      <wsdl:input message="tns:grl" name="grl">
    </wsdl:input>
      <wsdl:output message="tns:grlResponse" name="grlResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHitIndexedContent">
      <wsdl:input message="tns:getHitIndexedContent" name="getHitIndexedContent">
    </wsdl:input>
      <wsdl:output message="tns:getHitIndexedContentResponse" name="getHitIndexedContentResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueryResponse">
      <wsdl:input message="tns:getQueryResponse" name="getQueryResponse">
    </wsdl:input>
      <wsdl:output message="tns:getQueryResponseResponse" name="getQueryResponseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autnResponseAsString">
      <wsdl:input message="tns:autnResponseAsString" name="autnResponseAsString">
    </wsdl:input>
      <wsdl:output message="tns:autnResponseAsStringResponse" name="autnResponseAsStringResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getstatus">
      <wsdl:input message="tns:getstatus" name="getstatus">
    </wsdl:input>
      <wsdl:output message="tns:getstatusResponse" name="getstatusResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getversion">
      <wsdl:input message="tns:getversion" name="getversion">
    </wsdl:input>
      <wsdl:output message="tns:getversionResponse" name="getversionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueryHitsNoDocumentMap">
      <wsdl:input message="tns:getQueryHitsNoDocumentMap" name="getQueryHitsNoDocumentMap">
    </wsdl:input>
      <wsdl:output message="tns:getQueryHitsNoDocumentMapResponse" name="getQueryHitsNoDocumentMapResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getlicenseinfo">
      <wsdl:input message="tns:getlicenseinfo" name="getlicenseinfo">
    </wsdl:input>
      <wsdl:output message="tns:getlicenseinfoResponse" name="getlicenseinfoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpellCheckFields">
      <wsdl:input message="tns:getSpellCheckFields" name="getSpellCheckFields">
    </wsdl:input>
      <wsdl:output message="tns:getSpellCheckFieldsResponse" name="getSpellCheckFieldsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueryHitsMap">
      <wsdl:input message="tns:getQueryHitsMap" name="getQueryHitsMap">
    </wsdl:input>
      <wsdl:output message="tns:getQueryHitsMapResponse" name="getQueryHitsMapResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autnResponseAsList">
      <wsdl:input message="tns:autnResponseAsList" name="autnResponseAsList">
    </wsdl:input>
      <wsdl:output message="tns:autnResponseAsListResponse" name="autnResponseAsListResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IdolOEMConnectionSoapBinding" type="tns:IdolOEMConnection">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <wsdl:operation name="grl">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="grl">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="grlResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHitIndexedContent">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getHitIndexedContent">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getHitIndexedContentResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autnResponseAsString">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="autnResponseAsString">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="autnResponseAsStringResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueryResponse">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getQueryResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getQueryResponseResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getstatus">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getstatus">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getstatusResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueryHitsNoDocumentMap">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getQueryHitsNoDocumentMap">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getQueryHitsNoDocumentMapResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getversion">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getversion">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getversionResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getlicenseinfo">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getlicenseinfo">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getlicenseinfoResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSpellCheckFields">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getSpellCheckFields">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getSpellCheckFieldsResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getQueryHitsMap">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="getQueryHitsMap">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="getQueryHitsMapResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autnResponseAsList">
      <soap:operation soapAction="" style="document"></soap:operation>
      <wsdl:input name="autnResponseAsList">
        <soap:body use="literal"></soap:body>
      </wsdl:input>
      <wsdl:output name="autnResponseAsListResponse">
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IdolOEMConnection">
    <wsdl:port binding="tns:IdolOEMConnectionSoapBinding" name="IdolOEMConnectionPort">
      <soap:address location="http://localhost:8080/geagaci/acitunnel/IdolOEMConnection/IdolOEMConnection"></soap:address>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>